* {
  font-family: GT-America-Standard, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0px;
}
/* ----------------------------BANNER PART CSS START------------------------------------ */
.banner {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://m.media-amazon.com/images/G/01/Shopbop/media/desktop/homepages/2022/2022_05/sb_20220502_desktop_P1_topsellers._FMwebp_UX1500_.jpg");
  height: 500px;
  width: 100%;
  margin-top: 25px;
  /* position: absolute; */
}
.textcontent {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 23%;
  height: 220px;
  margin-top: 180px;
  margin-left: 38%;
}
.textcontent > strong {
  font-size: 35px;
}

.textcontent > p {
  font-size: 18px;
  line-height: 25px;
}

#shopnow {
  display: block;
  height: 45px;
  width: 40%;
  background-color: #ee4a1b;
  margin: auto;
  border: none;
  margin-top: 10px;
}
#shopnow > a {
  color: white;
  text-decoration: none;
}
#shopnow:hover {
  background-color: #e36340;
}

/* ----------------------------BANNER PART CSS END------------------------------------ */

/* --------------CAROUSEL SECTION CSS START----------------------------------------- */
.carousel {
  margin: auto;
  margin-top: 60px;
}

.upsec {
  display: flex;
  height: 80px;
  width: 80%;
  margin: auto;
}

.left-side {
  width: 70%;
}

.left-side > h4 {
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}

.left-side > h1 {
  font-size: 26px;
  font-weight: 900;
  line-height: 35px;
}

.right-side {
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.right-side > a {
  color: #ee4a30;
  font-weight: bold;
}
.cs-3 {
  background-color: #fff7f3;
}

/* --------------CAROUSEL SECTION CSS END----------------------------------------- */

/* --------------Some inspiration start-------------------------------------------- */
#lookingbox {
  background-color: #fff6fb;

  width: 100%;
  padding: 15px 0;
  margin-top: 40px;
  text-align: center;
}

#lookingbox > h1 {
  font-size: 35px;
}

#lookingbox > h4 {
  letter-spacing: 3px;
  margin-top: 25px;
}

#sub-boxes {
  cursor: pointer;
  display: flex;
  height: 420px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#sub-boxes > div {
  height: 420px;
  width: 19.5%;
  margin-left: 0.5%;
  text-align: center;
}

#sub-boxes > div > img {
  width: 100%;
  height: 360px;
}

#sub-boxes > div > a {
  color: #ee4a30;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

/* -------------Some inspiration end----------------------------------------------- */

/* -----------------Hover effect box start-------------------------------------- */
#hoverbox {
  cursor: pointer;
  height: 650px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
}

#left-image {
  cursor: pointer;
  height: 520px;
  width: 46%;
}

#right-image {
  cursor: pointer;
  height: 520px;
  width: 46%;
  margin-left: 8%;
}
#left-image > img {
  width: 100%;
  height: 520px;
}

#right-image > img {
  width: 100%;
  height: 520px;
}

#postion-left {
  height: 180px;
  padding: 5px;
  width: 80%;
  position: relative;
  left: 111px;
  bottom: 80px;
  background-color: white;
}

#postion-left > h4 {
  letter-spacing: 3px;
  margin-left: 25px;
  padding: 10px;
}

hr {
  width: 15%;
  margin-left: 35px;
  height: 2px;
  background-color: #ee4a30;
  border: none;
}
#postion-left > h3 {
  font-size: 24px;
  margin-left: 25px;
  padding: 10px;
}

#postion-left:hover {
  bottom: 100px;
}

#postion-right {
  padding: 5px;
  height: 180px;
  width: 80%;
  position: relative;

  left: 110px;
  bottom: 80px;
  background-color: white;
}

#postion-right > h4 {
  letter-spacing: 2px;
  margin-left: 25px;
  padding: 10px;
}

#postion-right > h3 {
  font-size: 24px;
  margin-left: 25px;
  padding: 10px;
}
#postion-right:hover {
  bottom: 100px;
}
#left-image:hover > div#postion-left {
  bottom: 100px;
}

#right-image:hover > div#postion-right {
  bottom: 100px;
}

/* -----------------Hover effect box end-------------------------------------- */

/* ------------------small Image box start------------------------------------- */

#image-box {
  height: 205px;
  width: 100%;
  cursor: pointer;
}

#image-box > img {
  width: 100%;
}

/* ------------------small Image box end------------------------------------- */

/* -------------------second banner start css-------------------------------- */

#second-banner {
  margin-top: 20px;
  display: flex;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://m.media-amazon.com/images/G/01//Shopbop/media/desktop/homepages/2022/2022_05/sb_20220501_desktop_P1_swim._FMwebp_UX1500_.jpg");
  height: 500px;
  width: 100%;
  align-items: center;
}

#postionleft {
  width: 28%;
  height: 220px;
  margin-left: 25px;
  /* margin-top: 180px; */
  padding: 15px;
  line-height: 30px;
}

#postionleft > strong {
  font-size: 35px;
}

#postionleft > p {
  font-size: 22px;
}

#shop {
  display: block;
  height: 50px;
  width: 35%;
  background-color: #ee4a1b;

  border: none;
  margin-top: 10px;
}

#shop > a {
  text-decoration: none;
  color: white;
}

#shop:hover {
  background-color: #e36340;
}
/* -------------------second banner end css-------------------------------- */
/* ---------------lovebox shopping  css start------------------------------- */

#lovebox {
  cursor: pointer;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
#lovebox > h1 > i {
  color: #e36340;
}

/* ---------------lovebox shopping  css start------------------------------- */

/* -----------shipping,order,rewards css start------------------------------------ */

#shippingbox {
  display: flex;
  width: 90%;
  height: 120px;
  margin: auto;
  margin-top: 40px;
  gap: 10px;
}

#shippingbox > div {
  width: 32.5%;
  background-color: #f8f6f7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.first-left {
  height: 100px;
  width: 90%;
  margin: auto;
}
.first-left > img {
  width: 100%;
  height: 100px;
}

/* -----------shipping,order,rewards css end------------------------------------ */

/*---------------------------footer box css start-------------------------------- */

#footerbox {
  height: 250px;
  width: 85%;
  margin: 120px auto;

  display: flex;
}

#footerbox > div > h4 {
  margin-left: 38px;
}

#footerbox > div {
  height: 250px;
  width: 20%;
  line-height: 45px;
}
#footerbox > div ul li {
  list-style: none;
  line-height: 30px;
}

#footerbox > div ul li a {
  text-decoration: none;
  color: #424542;
}

#footerbox > div ul li a:hover {
  color: black;
  font-weight: bold;
}

#copy-right {
  height: 80px;
  width: 65%;
  margin: auto;
  margin-top: 40px;

  text-align: center;
  line-height: 35px;
}

/*---------------------------footer box css end---------------------------------- */
