.container-1,
.container-2,
.container-3 {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  height: 440px;
  width: 80%;
  margin: 40px auto;
}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  top: auto;
  left: 0;
  /* THIS creates the animation! */
  transition: transform 1.2s;
}
.container-1 > div,
.container-2 > div,
.container-3 > div {
  text-align: center;
  width: 100%;
  height: 100%;
}
.container-1 > div > h2,
.container-2 > div > h2,
.container-3 > div > h2 {
  color: #212529;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}
.container-1 > div > img,
.container-2 > div > img,
.container-3 > div > img {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btnd {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #ee4a1b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btnd:hover {
  background-color: #f3c0b2;
}
.btnd > svg {
  height: 24px;
  width: 24px;
  fill: white;
}
.btn-left1,
.btn-left2,
.btn-left3 {
  left: 0;
  top: 50%;
  transform: translate(0, -100%);
}
.btn-right1,
.btn-right2,
.btn-right3 {
  right: 0;
  top: 50%;
  transform: translate(0, -100%);
}
